@import 'btn.css';
@import 'alerte.css';
@import 'container.css';
@import 'form.css';
@import 'code.css';

@font-face {
    font-family: "JetBrainsMono-Bold";
    src: url("asset\fonts\JetBrainsMono-Bold.woff2") format("woff2"),
    url("https://alexcaussades.com/css-custom/fonts/JetBrainsMono-Bold.woff2") format("woff2");
   }

@font-face {
    font-family: "JetBrainsMono-Italic";
    src: url("asset\fonts\JetBrainsMono-Italic.woff2") format("woff2"),
    url("https://alexcaussades.com/css-custom/fonts/JetBrainsMono-Italic.woff2") format("woff2");
   }

@font-face {
    font-family: "JetBrainsMono-Light";
    src: url("asset\fonts\JetBrainsMono-Light.woff2") format("woff2"),
    url("https://alexcaussades.com/css-custom/fonts/JetBrainsMono-Light.woff2") format("woff2");
   }

@font-face {
    font-family: "JetBrainsMono-Medium";
    src: url("asset\fonts\JetBrainsMono-Medium.woff2") format("woff2"),
    url("https://alexcaussades.com/css-custom/fonts/JetBrainsMono-Medium.woff2") format("woff2");
   }

@font-face {
    font-family: "JetBrainsMono-Regular";
    src: url("asset\fonts\JetBrainsMono-Regular.woff2") format("woff2"),
    url("https://alexcaussades.com/css-custom/fonts/JetBrainsMono-Regular.woff2") format("woff2");
   }

@font-face {
    font-family: "JetBrainsMono-Thin";
    src: url("asset\fonts\JetBrainsMono-Thin.woff2") format("woff2"),
    url("https://alexcaussades.com/css-custom/fonts/JetBrainsMono-Thin.woff2") format("woff2");
   }



:root{
    --bc-blue: #0d6efd;
    --bc-indigo: #6610f2;
    --bc-purple: #6f42c1;
    --bc-pink: #d63384;
    --bc-red: #dc3545;
    --bc-orange: #fd7e14;
    --bc-yellow: #ffc107;
    --bc-green: #198754;
    --bc-teal: #20c997;
    --bc-cyan: #0dcaf0;
    --bc-white: #fff;
    --bc-gray: #6c757d;
    --bc-gray-dark: #343a40;
    --bc-primary: #0d6efd;
    --bc-secondary: #6c757d;
    --bc-success: #198754;
    --bc-info: #0dcaf0;
    --bc-warning: #ffc107;
    --bc-danger: #dc3545;
    --bc-light: #f8f9fa;
    --bc-dark: #212529;
}
